@font-face{
    font-family:'patrick';
    src: url('fonts/PatrickHand-Regular.ttf');
}

body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'patrick';
}
h1{
    font-size: 4em;
    color: rgb(117, 16, 212);
    -webkit-text-stroke: 0.5px rgb(37, 27, 27);

}

.mainContainer{
    display: grid;
    grid-template-columns: 130px auto 120px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(39, 101, 155, 0.281);
    padding: 20px;

}

.colorselections, .sizeselections{
    background-color: rgba(53, 99, 117, 0.26);
    border-radius: 10px;
}
.colorselections{
    display: grid;
}
.active{
    opacity: 70%;
    border: 2px inset rgba(0, 0, 0, 0.473);
    box-shadow: 0 0 0 0.5px rgb(126, 110, 141),
    0 0 0 2px rgb(69, 55, 83);
}
.colorselections button{
    margin: 10px;
    color: black;
    font-weight: bold;
    font-family: 'patrick';
    font-size: 1.5em;
    border-radius: 10px;
    border: 2px outset rgb(2, 2, 7);
    box-shadow: 0 0 0 1px rgb(126, 110, 141),
    0 0 0 3px rgb(69, 55, 83);
}
.colorselections button:active{
    border: 2px inset rgba(0, 0, 0, 0.473);
    box-shadow: 0 0 0 0.5px rgb(126, 110, 141),
    0 0 0 2px rgb(69, 55, 83);
}
#currentColor{
    width: 110px;
    margin: 8px;
}
/* Buttons */
#black{color: white; background-color: rgba(0, 0, 0, 0.822);}
#red{background-color: rgba(243, 0, 0, 0.664);}
#orange{background-color: rgba(255, 170, 13, 0.712);}
#yellow{background-color: rgba(255, 255, 0, 0.596);}
#pink{background-color: rgba(230, 0, 127, 0.747);}
#purple{background-color: rgba(128, 0, 128, 0.5);}
#green{background-color: rgba(0, 128, 0, 0.562);}
#blue{background-color: rgba(0, 0, 255, 0.534);}
#rainbow{ 
    background-image: linear-gradient(to right, rgba(243, 0, 0, 0.295) , 
    rgba(255, 170, 13, 0.473), rgba(255, 255, 0, 0.397), rgba(230, 0, 127, 0.459), 
    rgba(128, 0, 128, 0.363), rgba(0, 128, 0, 0.384), rgba(0, 0, 255, 0.377));}

.sizeselections{
    height: 150px;
    display: grid;
}
#sizeOutput{
    font-size: 1.5em;
}
#size{
    margin: 5px;
    width: 110px;

}

.sketchContainer{
    justify-self: center;
    margin: 20px;
}

.title {
    font-size: 3em;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px white;
}

#grid {
    cursor: url('paintbrush.png'), auto;
    resize: both;
    overflow: auto;
    display: flex;
    min-width: 600px;
    min-height: 600px;
    max-width: 1200px;
    max-height: 1000px;
    display: flex;
    border: 3px outset rgb(43, 35, 119);
    background-color: white;
}
.column{
    display: grid;
    width: -webkit-fill-available;
}
.box {
    
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.5);
   
}

#btn, #screenshotBtn{
    font-size: 2em;
    font-family: 'patrick';
    margin: 20px;
    height: 50px;
    width: 200px;
    color: white;
 
    border: 2px outset rgb(114, 0, 85);
    box-shadow: 0 0 0 3px rgb(126, 110, 141),
    0 0 0 5px rgb(69, 55, 83);
    border-radius: 10px;
}
#btn:active{
    background-color: rgba(138, 19, 25, 0.5);
    border: 2px inset rgba(22, 0, 224, 0.473);
    box-shadow: 0 0 0 1px rgb(126, 110, 141),
    0 0 0 3px rgb(69, 55, 83);
}

#btn{
    background-color: rgb(155, 4, 36);

}
#screenshotBtn
{
    background-color: rgb(99, 0, 138);
}

footer{
    
}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons img{
    margin: 2px;
    height: 32px;
    width: 32px;
}